* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /* body {
   font-family: "Inter", sans-serif;
   color: #343a40;
   line-height: 1;
   display: flex;
   justify-content: center;
 } */

 table {
   width: 1100px;
   margin-top: 10px;
   font-size: 18px;
   /* border: 1px solid #343a40; */
   border-collapse: collapse;
   height:100px;
 }

 th,
 td {
   border: 1px solid #343a40;
   padding: 10px 20px;
   text-align: left;
 }

 thead tr {
   background-color: #17545c;
   color: #fff;
 }

 thead th {
   width: 10%;
 }

 tbody tr:nth-child(odd) {
   background-color: #f8f9fa;
 }

 tbody tr:nth-child(even) {
   background-color: #e9ecef;
 }
 /* table name */
 /* .name{
  width: 10px;
 } */
 /* .action{
  width: 10px;
 } */



 /* register */
 .w-10{
  width:40% !important;
  margin-top: -60px !important;
  margin-left: 400px !important;
 }
 /* .register{
  margin-top: -10px !important;
 } */